# --- PostgreSQL Settings ---
POSTGRES_HOST="host.docker.internal"
POSTGRES_PORT="5432"
POSTGRES_DB="database"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"

# --- n8n Settings ---
N8N_VERSION="1.106.3"
WEBHOOK_URL="https://webhook.com/"

# ตั้งค่า Timezone
TZ="Asia/Bangkok"

# ตั้งค่า Port
PORT="3000"
