# --- PostgreSQL Settings ---
POSTGRES_VERSION="17.5"
POSTGRES_PORT="5432"
POSTGRES_DB="database"
POSTGRES_USER="username"
POSTGRES_PASSWORD="password"

# --- PGAdmin Setting ---
PGA_VERSION="9.8"
PGA_PORT="5555"
PGA_EMAIL="user@domain.com"
PGA_PASS="password"
